body {
  font-family: courier;
  background-color: black;
  margin: 0 auto;
}

.container {
  width: 450px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  padding: 25px 0;
}

h1 {
  letter-spacing: 5px;
  margin-bottom: 50px;
}

h1,
#form {
  text-align: center;
}

input {
  width: 170px;
  padding: 15px;
  font-size: 26px;
  text-align: center;
  font-family: courier;
}

#btn {
  background-color: black;
  color: white;
  font-family: courier;
  display: block;
  margin: 20px auto;
  padding: 5px 25px;
  border: none;
  font-weight: bold;
  letter-spacing: 3px;
}

#results img {
  display: block;
  margin: 0 auto;
}